.container {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 35%;
  background-color: rgba(255, 255, 255, 0.511);
  color: #ad8b3a;
  left: 30%;
  width: 40%;
  height: 40%;
}
.container span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3em;
  cursor: pointer;
  color: #ad8b3a;
}
.container span:hover {
  color: #86610d;
}
.container a {
  font-weight: 700;
  font-family: "Cinzel", serif;
  font-size: 2em;
  text-decoration: none;
  color: #8d6b1e;
  text-align: center;
}
.container a:active {
  color: #86610d;
}
.links {
  display: flex;
  flex-direction: column;
}
.container a:hover {
  text-decoration: underline;
}
.container p {
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 1.5em;
  color: #8d6b1e;
  font-weight: 700;
}
@media (max-width: 500px) {
  .container {
    width: 60%;
    left: 20%;
  }
  .container span {
    font-size: 2em;
  }
  .container a {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container p {
    text-align: center;
    font-size: 1em;
  }
}
