.container {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  background-color: #13130f;
  padding: 20px 30px;
}
input:focus {
  outline: none;
}
.container img {
  width: 10vw;
  margin-bottom: 5vh;
}
.wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10%;
  border-bottom: 1px solid white;
}
.column {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.compform {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.title {
  font-size: 0.8em;
  color: #45443fef;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.column a {
  text-decoration: none;
  color: white;
}
.compform {
  display: flex;
  gap: 20px;
}
.compform input {
  border: none;
  border-bottom: 1px solid white;
  padding: 10px;
  color: white;
  background-color: #13130f;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-right: 20px;
  margin-bottom: 10px;
}
.compform button {
  color: #45443fec;
  background-color: grey;
  border: none;
  padding: 10px;
  height: 5vh;
  font-weight: 700;
}
.column ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50%;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 1.2em;
  gap: 10px;
  cursor: pointer;
}
.column ul li:hover {
  text-decoration: underline;
}
.comp div {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 0.8em;
  font-family: "Inter", sans-serif;
  margin-top: 20px;
}
.comp em {
  color: white;
  font-size: 1em;
  font-family: "Inter", sans-serif;
}
.links {
  display: flex;
  gap: 5%;
}
.links a {
  color: white;
  font-size: 2em;
}
.misc {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}
.wrapper img {
  width: 20%;
}
@media (max-width: 500px) {
  .container {
    padding: 0;
  }
  .container img {
    width: 30%;
    margin-bottom: 1vh;
  }
  .wrapper {
    transform: scale(0.9);
    gap: 10%;
    padding: 0;
    width: 100%;
    margin-left: 5px;
    padding-bottom: 20px;
  }
  .title {
    font-size: 0.6em;
    width: 70%;
  }
  .compform input {
    transform: scale(0.8);
  }
  .compform {
    align-items: center;
  }
  .column {
    align-items: center;
    width: 30%;
  }
  .compform button {
    height: 50%;
    margin-left: 10px;
    transform: scale(0.8);
  }
  .column ul {
    font-size: 0.6em;
  }
  .comp div {
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
  }
  .links a {
    font-size: 1em;
  }
  .wrapper img {
    width: 20%;
    height: 30%;
  }
}
