.container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 3vw;
    justify-content: center;
  }
  em {
    font-style: normal;
    font-size: 0.5em;
  }
  .text {
    display: flex;
    gap: 10%;
    align-items: center;
  }
  .text span {
    font-size: 3em;
    font-family: "Cinzel", serif;
    color: #45443f;
    padding-left: 8vw;
    width: 40%;
  }
  .text p {
    font-size: 1.2em;
    color: #45443f;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    width: 30%;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }
  .info p {
    width: 30%;
    font-size: 1.5em;
    color: #45443f;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    padding: 1vw;
  }
  .info img {
    width: 45%;
    height: 50vh;
  }
  @media(max-width:500px){
    .text span {
      font-size: 2em;
      padding-left:3vw;
      width: 50%;
    }
  
    .info p{
      font-size: 0.9em;
      width: 40%;
    }
    .info img {
      height: 40vh;
    }
  }
  @media(max-width:400px){
    .text span {
      font-size: 1.3em;
    }
    .text p{
      font-size: 0.5em;
    }
    .info p{
      font-size: 0.6em;
    }
    .info img {
      height: 30vh;
    }
  }

  