.container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-top: 5vh;
  justify-content: center;
}
.text {
  display: flex;
  gap: 2vw;
  padding-left:10vw;
  flex-direction: column;
}
.text span {
  font-size: 3em;
  font-family: "Cinzel", serif;
  color: #45443f;
}
.info{
    display: flex;
    align-items:center;
    justify-content: center;
    gap:3vw;
    padding-left: 5vw;
}
.info p {
  width: 35%;
  font-size: 1.5em;
  color: #45443f;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  padding: 1vw;
}
.img {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
.img img {
  width: 40%;
  height: 25vh;
}
@media(max-width:500px){
  .text span{
    font-size: 2em;
  }
  .info p{
    font-size: 0.8em;
  }
  .img{
    width: 50%;
  }
  .img img{
    width: 40%;
    height: 18vh;
  }
}
@media(max-width:400px){
  .text span{
    font-size: 1.3em;
  }
  .info p{
    font-size: 0.6em;
  }
  .img img{
    height: 15vh;
  }
}